
#navbar {
    width: 100%;
    background: rgba(0,0,0,0.1);
}


@media (min-width: 400px) {
    #navbar {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;    
        width: 150px;
    }
    
    
    #main-doc {
        position: absolute;
        left: 150px;        
    }
}



#main-doc {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;    
}




.main-section {
    font-size: large;
    text-align: center;
    border-style: dashed;
    margin: 10%;
}

code {
    background-color: lightgray;
    display: block;
    margin: 10px;
    padding: 4px;
}

#navbar * {
    padding: 15px;
}

#navbar a {
    display: block;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}