#navbar {
    width: 150px;
    background: rgba(0,0,0,0.1);

    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;    
}


#main-doc {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    position: absolute;
    left: 150px;        
}
.main-section {
    font-size: large;
    text-align: center;
    border-style: dashed;
    margin: 10%;
    background-color: grey;
}

#navbar * {
    padding: 15px;
}

#navbar a {
    display: block;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
@media (max-width: 400px) {
    nav {
        width: 100%;
        position:fixed;
    }
}